<article id="sobrenosotros">
    <h1>Sobre nosotros</h1>
    <h2>Amantes de los cócteles🍸</h2>

    <div class="contenedor">
        <p>Somos un grupo de apasionados por</p>
        <p> el mundo de la coctelería.</p>

        <p>Nos encanta
            experimentar con
            sabores, aromas y texturas</p>
        <p>para crear bebidas únicas
            y deliciosas.</p>

        <p>En este espacio, queremos
            compartir nuestra</p>
        <p>pasión contigo.
            Te invitamos a descubrir</p>

        <p> una amplia variedad de recetas</p>

        <p>de cócteles, desde
            clásicos hasta </p>
        <p>creaciones originales.</p>
    </div>
    <div class="contenedorimg">
        <img src="../../assets/tragosobre.png" alt="trago">
    </div>
</article>