section {
  height: 100%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  color: #332523;
  margin-bottom: 2rem;
}
h1 {
  font-family: "Italiana", sans-serif;
  font-size: 11rem;
  margin: 0;
}
.contenedormayor {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
.contenedordecocktails {
  width: 73%;
  height: 98%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.borde1 {
  width: 97%;
  height: 95%;
  border-radius: 1.5rem;
  border: 1px solid black;
}

.borde2 {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  border: 1px solid black;
}
.contenedortitle {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1.5rem;
}
.title {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.title p {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.imagen {
  width: 10%;
  height: 90%;
}
.imagen img {
  width: 100%;
  height: 100%;
}
h3 {
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  margin: 0;
}
p {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
.info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  align-items: top;
  justify-content: center;
  padding-bottom: 1.5rem;
}

h4 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.ingredientes {
  width: 40%;
}
.ingredientes p {
  width: 90%;
}
.preparacion {
  width: 45%;
}
.preparacion p {
  width: 90%;
}
.crearCocktail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.crearCocktail p {
  border-radius: 2rem;
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
}

.crearCocktail a {
  text-decoration: none;
  color: #332523;
}
.crearCocktail a p:hover {
  background-color: #332523;
  color: white;
}
.deletebutton {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
  color: #332523;
}
.deletebutton button {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}

.deletebutton :hover {
  background-color: #332523;
  color: white;
}

@media (max-width: 1254px) {
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 10rem;
  }
}
@media (max-width: 800px) {
  .contenedordecocktails {
    width: 90%;
  }

  h1 {
    font-size: 6rem;
  }
}
@media (max-width: 650px) {
  .contenedordecocktails {
    width: 98%;
  }
}
