<article>

    <div class="contformulario">
        <h2>Registrarse</h2>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="text"
                    [ngClass]="{'is-invalid': hasErrors('usuario','required') || hasErrors('usuario','minlenght')}"
                    id="usuario" formControlName="usuario" placeholder="Usuario" required>
                <div class="text-danger" *ngIf="hasErrors('usuario','required')">Agregue un usuario</div>
                <div class="text-danger" *ngIf="hasErrors('usuario','minlength')">Usuario formato invalido</div>
            </div>
            <div>
                <input type="email"
                    [ngClass]="{'is-invalid':hasErrors('email','email') || hasErrors('email','required')}" id="email"
                    formControlName="email" placeholder="Email" required>
                <div class="text-danger" *ngIf="hasErrors('email','email')">Email formato invalido</div>
                <div class="text-danger" *ngIf="hasErrors('email','required')">Email requerido</div>
            </div>
            <div>
                <input type="password" id="password" formControlName="password" placeholder="Password" required>
                <div class="text-danger" *ngIf="hasErrors('password','password')">Contraseña formato invalido</div>
            </div>
            <div class="contenedorbutton">
                <button>Enviar</button>
            </div>
        </form>
    </div>
    <div class="imagen">
        <img src="../../../assets/login.png">
    </div>
    <!---->
    <div class="contenedor-cargador" *ngIf="isLoading">
        <img src="../../../assets/loader.svg" alt="Cargando">
    </div>
</article>