<nav>
    <ul class="position">
        <li class="title"><a href="/home">LA COCKTELERA</a></li>
        <div class="contenedor position ">

            <li class="elementos"><a href="/home">Inicio</a></li>
            <li class="elementos"><a href="/sobrenosotros">Sobre Nosotros</a></li>
            <li class="elementos"><a href="/cocktails">Cocktails</a></li>

        </div>
        <div class="contenedorr position">

            <li class="elementos" *ngIf="userEmail"><span>{{ userEmail }}</span>
            </li>
            <button (click)="logout()" *ngIf="userEmail">Logout</button>


            <li class="elementos" *ngIf="!userEmail"><a href="/login">Iniciar sesion</a></li>
            <li class="elementos" *ngIf="!userEmail"><a href="/register">Registro</a></li>

        </div>
    </ul>
</nav>
<router-outlet></router-outlet>